<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="LogAsync" xsi:type="AsyncWrapper">
			<target name="allLogFile" xsi:type="File"
					fileName="${basedir}/Logs/DoggyRestApi-AllLog-${shortdate}.log"
					layout="${time} | ${level} | ${logger} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
					archiveFileName="${basedir}/archivedLogs/DoggyRestApi-AllLog-${shortdate}-{####}.log"
					archiveAboveSize="102400"
					archiveNumbering="Sequence"
					concurrentWrites="true"
					keepFileOpen="false" />

			<target name="severeLogFile" xsi:type="File"
			       fileName="${basedir}/Logs/DoggyRestApi-Severe-${shortdate}.log"
			       layout="${time} | ${level} | ${logger} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
			       archiveFileName="${basedir}/archivedLogs/DoggyRestApi-Severe-${shortdate}-{####}.log"
			       archiveAboveSize="102400"
			       archiveNumbering="Sequence"
			       concurrentWrites="true"
			       keepFileOpen="false" />
		</target>
		
		<target name="colorConsole" xsi:type="ColoredConsole" layout="[${time}]:${message} ${exception:format=message}" />

	</targets>

	<rules>
		<!--<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />-->
		<logger name="*" minlevel="Info" writeTo="allLogFile" />
		<logger name="*" minlevel="Warn" writeTo="severeLogFile" />
		<logger name="*" minlevel="Warn" writeTo="colorConsole" />
	</rules>
</nlog>